<!DOCTYPE html>
<html>
  <head>
    <title>About | Ruby on Rails My Diabetes Dairy App</title>
  </head>
  <body>
    <h1>My Diabetes Dairy</h1>
    <p>The Diabetes Diary App is an App to record your daily Diabetes management it includes a Bolus Calculator which you can use on the fly. If You sign up as a Diabetes Patient you can program your KH/BE Faktoren according to Your treatment plan, your correction bolus rule and your your ideal blood sugar interval. When You use it for calculating Your Insulin according to what you ate or calculating a correction bolus on the basis of a hyperglycämic Blood sugar value, Your data is automatically recorded to your Diabetes Diary. When You enter a blood sugar the App will record it. If it is too high, it will propose You a correction bolus according to Your Treatment Plan. If it is too low it will recommend You to eat fast carbohydrates according to your treatment plan.  </p>
  </body>
</html>
