<!DOCTYPE html>
<html>
  <head>
    <title>Contact | Ruby on Rails My Diabetes Dairy App</title>
  </head>
  <body>
    <h1>My Diabetes Dairy</h1>
    <p>Help Page for the  Diabetes Diary App </p>
  </body>
</html>