<% provide(:title, "Contact") %>


<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title)%> | My Diabetes Diary App Ruby on Rails</title>
  </head>
  <body>
    <h1>My Diabetes Diary</h1>
    <p>Contact Page for the  Diabetes Diary App </p>
  </body>
</html>