<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-sm-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        
      </h1>
    </section>
    </div>
  </aside>
  <div class="col-md-8">
    <% if @user.diary_entries.any? %>
  <table class="table table-dark">
    <h3 class="text-center">My Diabetes Diary </h3>
  <thead>
    <tr>
       <th scope="col">Time</th>
       <th scope="col">Bloodsugar</th>
       <th scope="col">Bread Units</th>
       <th scope="col">Injected Insulin</th>
       <th scope="col">Comment</th>
    </tr>
  </thead>

    <tbody class="diary_entries">
   
        <%= render @diary_entries %>
    </tbody>
  </table>
   
    <% end %>
  </div>

  

    

    
