<header>
      <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse fixed-top">
      
      <a class="navbar-brand" href="#">My Diabetes Diary</a>

      
        <ul class="navbar-nav navbar-right">
          <li class="nav-item">
            <%= link_to "Home",   root_path, :class => "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Help",   help_path, :class => "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "About",  about_path, :class => "nav-link"  %>
          </li>
          <li class="nav-item">
            <%= link_to "Bolus Rechner",  bolus_path, :class => "nav-link" %>
          </li>
        </ul>
      
     </nav>
    </header>